<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.code.test.mapper.UserMapper">

    <select id="selectById" resultType="com.code.test.vo.User">
        SELECT
            *
        FROM userinfo
        WHERE 1 = 1
            AND USERNAME = #{username}

    </select>

    <insert id="save" parameterType="com.code.test.vo.User">
        INSERT INTO userinfo (
            NAME,
            PASSWORD,
            ROLE
        ) VALUES (
            #{username},
            #{password},
            #{role}
        )
    </insert>
</mapper>